* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
}

.title {
  font-weight: bolder;
  font-size: 3rem;

  padding: 10px;
}

section {
  padding-top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-content {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.desc {
  font-size: 20px;
  font-weight: 600;
}

.stars{
    display: flex;
    align-items: center;
    justify-content: center;
}

.star{
    font-size:25px;
    color:rgb(255, 217, 0);
}

.points{
    font-size: 16px;
    margin-left: 10px;
    margin-top: 5px;
}

.original-price {
    margin-top: 5px;
  font-size: 24px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}

.strike-off {
  text-decoration: line-through;
  color: grey;
  margin-left: 10px;
}

.badge {
    margin-left: 10px;
  background-color: rgb(255, 208, 208);
  font-size: 11px;
  padding: 4px 12px;
  border-radius: 20px;
  color: red;
  font-weight: 100;
}

.footer{
    display: grid;
    background-color: black;
    color: white;
    border-radius: 20px;
    grid-template-columns: 70% 30%;
    margin-top: 80px;
}

.footer h1{
    padding: 20px 60px;
    font-size: 48px;
    margin-bottom: 20px;
}

.email-sub{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding-right: 60px
}

input{
    width: 320px;
    height: 32px;
    border-radius: 20px;
    padding: 2px 20px;
    border: none;
}

button{
    width: 360px;
    height: 36px;
    border-radius: 20px;
    padding: 2px 20px;
    border: none;
    font-weight: 500;
    font-size: 14px;
}